<div class="container">
    <div class="monitor">
        <div class="numbers">
            {{ time | numToTime }}
            <br>
        </div>
        <div class="control">
            <button
                mat-raised-button
                [color]=" isStarted ? 'warn' : 'primary' "
                (click)="isStarted ? stopTimer() : startTimer() "
            >
                {{ isStarted ? 'Stop' : 'Start' }}
            </button>

            <button
                mat-raised-button
                matTooltip="Double click to pause"
                color="accent"
                [disabled]="!(isStarted && !isPaused)"
                (click)="waitTimer()"
            >
                Wait
            </button>

            <button
                mat-raised-button
                [disabled]="!isStarted && !isPaused"
                (click)="resetTimer()"
            >
                Reset
            </button>
        </div>
    </div>
</div>
