.container {
    font-size: 40px;
    display: flex;
    justify-content: center;

    .monitor {
        margin: auto;
        padding: 18px 14px;
        border: solid 1px darkblue;
        border-radius: 4px;
    }

    .control {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        button:not(:last-child) {
            margin-right: 10px;
        }
    }

    .numbers {
        text-align: center;
    }
}